.map-field {
  width: 15px;
  height: 15px;
  box-sizing: content-box;
}

.unoccupied {
  background-color: #f0f0f0;
}

.occupied {
  background-color: black;
}

.unknown {
  background-color: gray;
}
